<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <a href="{{ path('connexion_utilisateur') }}"> Connexion</a>
        <a href="{{ path('actualites') }}"> actualitées</a>
        <a href="{{ path('fiches_voyage') }}"> fiches voyages</a>
    </body>
</html>
