    <div class="page-header"><h2>Commenter l 'album</h2></div>
    <div class="fb-comments" data-href="{{ path('photos', {'id': album.id } ) }}" data-width="900" data-num-posts="10" data-colorscheme="dark"></div>
